.header {
  display: flex;
  padding: 32px 0 0;
  width: 1360px;
  max-height: 40px;
  margin: 0 auto 28px;
  align-items: center;
  font-family: 'Cabinet Grotesk Regular', 'Times New Roman', Times;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}

.header__logo {
  margin-right: 24px;
  max-height: 40px;
}

.header__date-and-location {
  margin: 11px auto 5px 0;
}

.header__add-clothes-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  height: fit-content;
  width: fit-content;
  font-weight: 700;
}

.header__user-container {
  display: flex;
}

.header__username {
  margin: auto 12px auto 20px;
}

.header__avatar {
  height: 40px;
  width: 40px;
}
