.modal__container_image {
  display: flex;
  min-width: 670px;
  height: 368px;
  padding: 0;
}

.modal__close-btn_image {
  top: 20px;
  right: 20px;
}

.modal__image-container {
  position: relative;
  margin: auto 28px auto 20px;
  height: 326px;
  width: 323px;
}

.modal__image {
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

.modal__title_image {
  position: absolute;
  background-color: white;
  top: 17px;
  left: 50%;
  transform: translate(-50%);
  border-radius: 4px;
  padding: 2px 12px;
  margin: 0;
}

.modal__weather {
  font-weight: 700;
  font-size: 20px;
  margin: 33px 0 0;
}
